body {
  background: linear-gradient(315deg, #a55c1b 0%, #000000 74%);
  margin: 40px 0;
  text-align: center;
  font-family: "RunestoneW01-Regular";
  height: 700px;
}

p {
  margin-top: 30px;
  line-height: 22px;
  letter-spacing: 5px;
  font-size: 10px;
  color: white;
  font-family: "RunestoneW01-Regular";
}

h1 {
  transform: scale(0.5);
}
